.navbar-toggler-icon {
    order:0;
    float: left;
  }
.navbar-link {
    padding-right: .5rem;
    padding-left: .5rem;
}
.navbar-link:hover {
    cursor: pointer;
    color: rgb(223, 223, 223);
}
a:hover {
    color: rgb(233, 233, 233);
}